.rowmundo{
    font-size: 25px;
}

.rowmundo2{
    text-align: center;
}

.cordapagina{
    border: 350px solid black;
    color: aliceblue;
}

.cordapagina2{
    border: 200px solid black;
    color: aliceblue;
}
